.designer-1-icon,
.mask {
  position: absolute;
  height: 85.63%;
  width: 78.78%;
  top: 0;
  right: 21.22%;
  bottom: 14.37%;
  left: 0;
}
.designer-1-icon {
  height: 96.99%;
  width: 96.47%;
  top: 3.01%;
  right: 0;
  bottom: 0;
  left: 3.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.body,
.title {
  position: absolute;
  width: calc(100% + 0.08px);
  display: inline-block;
}
.body {
  top: 198px;
  left: 0.35px;
  line-height: 30px;
  height: 14px;
}
.title {
  top: 0;
  left: 0;
  font-size: var(--medium-50-size);
  letter-spacing: 1px;
  line-height: 66px;
  font-weight: 500;
  color: var(--colour-main-blue-900);
}
.text-blockherotitle-body-act {
  height: 75.06%;
  top: 0;
  right: 0;
  bottom: 24.94%;
  text-align: left;
  font-size: var(--regular-18-size);
}
.bg,
.button-label,
.text-blockherotitle-body-act {
  position: absolute;
  width: 100%;
  left: 0;
}
.bg {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-11xs);
  background-color: var(--colour-main-blue-800);
}
.button-label {
  top: calc(50% - 13px);
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
}
.elementbuttonlargefilled {
  position: absolute;
  height: 8.55%;
  width: 35.06%;
  top: 91.45%;
  right: 64.94%;
  bottom: 0;
  left: 0;
  color: var(--colour-secondary-white-100-general);
}
.bg1,
.button-label1 {
  position: absolute;
  width: 100%;
  left: 0;
}
.bg1 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-11xs);
  border: 2px solid var(--colour-main-blue-900);
  box-sizing: border-box;
}
.button-label1 {
  top: calc(50% - 11px);
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
}
.elementbuttonlargefilled-co {
  position: absolute;
  height: 8.55%;
  width: 35.06%;
  top: 91.45%;
  right: 24.3%;
  bottom: 0;
  left: 40.63%;
  color: var(--colour-main-blue-900);
}
.hero-content {
  position: absolute;
  height: 35.17%;
  width: 29.43%;
  top: 25.31%;
  right: 61.46%;
  bottom: 39.52%;
  left: 9.12%;
}
.hero,
.landie {
  position: absolute;
  top: 0;
}
.hero {
  height: 25.86%;
  width: 100.28%;
  right: 0;
  bottom: 74.14%;
  left: -0.28%;
  text-align: center;
  color: var(--colour-main-blue-500);
}
.landie {
  left: 0;
  line-height: 38px;
  font-weight: 900;
}
.logolandie {
  position: absolute;
  top: 12px;
  left: 681px;
  width: 79px;
  height: 38px;
  font-size: var(--bold-26-size);
  color: var(--colour-logo-primary);
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.about,
.home {
  line-height: 24px;
}
.home {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
}
.about {
  left: 40%;
}
.about,
.contact,
.group {
  position: absolute;
  top: calc(50% - 12px);
}
.contact {
  left: 80%;
  line-height: 24px;
}
.group {
  width: 17.01%;
  right: 71.53%;
  left: 11.46%;
  height: 24px;
}
.body1,
.nav,
.title1 {
  position: absolute;
  width: 100%;
  left: 0;
}
.nav {
  height: 1.3%;
  top: 0;
  right: 0;
  bottom: 98.7%;
  font-size: var(--regular-14-size);
  color: var(--colour-main-blue-500);
}
.body1,
.title1 {
  top: 64px;
  line-height: 26px;
  display: inline-block;
}
.title1 {
  top: 0;
  font-size: var(--medium-36-size);
  line-height: 48px;
  font-weight: 500;
  color: var(--colour-main-blue-900);
}
.text-blocksectionlargetitle {
  position: absolute;
  height: 40.07%;
  width: 30.9%;
  top: 30.23%;
  right: 11.46%;
  bottom: 29.7%;
  left: 57.64%;
}
.undraw-happy-news-hxmt-icon {
  position: absolute;
  height: 55.51%;
  width: 33.33%;
  top: 21.52%;
  right: 53.13%;
  bottom: 22.97%;
  left: 13.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.intro {
  position: absolute;
  height: 12.29%;
  width: 100%;
  top: 40.02%;
  right: 0.28%;
  bottom: 47.69%;
  left: -0.28%;
}
.undraw-social-influencer-sgsv-icon {
  position: absolute;
  height: 68.1%;
  width: 37.5%;
  top: 16.13%;
  right: 51.04%;
  bottom: 15.77%;
  left: 11.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.intro-copy {
  position: absolute;
  height: 12.29%;
  width: 100%;
  top: 52.31%;
  right: 0.28%;
  bottom: 35.39%;
  left: -0.28%;
}
.undraw-mobile-login-ikmv-icon {
  position: absolute;
  height: 70.66%;
  width: 37.5%;
  top: 14.78%;
  right: 11.46%;
  bottom: 14.56%;
  left: 51.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.body3,
.title3 {
  position: absolute;
  width: 100%;
  top: 82px;
  left: 0;
  line-height: 18px;
  display: inline-block;
}
.title3 {
  top: 50px;
  font-size: var(--regular-16-size);
  line-height: 26px;
  font-weight: 500;
  color: var(--colour-main-blue-900);
}
.elementcardinfo-cardsmalli-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 36px;
}
.elementcardinfo-cardmedium,
.elementcardinfo-cardmedium1 {
  position: absolute;
  height: 18.6%;
  width: 17.71%;
  top: 59.84%;
  right: 51.04%;
  bottom: 21.56%;
  left: 31.25%;
}
.elementcardinfo-cardmedium1 {
  right: 70.83%;
  left: 11.46%;
}
.text-blocksectionlargetitle2 {
  position: absolute;
  height: 27.49%;
  width: 37.5%;
  top: 21.56%;
  right: 51.04%;
  bottom: 50.94%;
  left: 11.46%;
  font-size: var(--regular-16-size);
  color: var(--colour-main-blue-400);
}
.undraw-mobile-login-ikmv-ele {
  position: absolute;
  height: 16.03%;
  width: 100%;
  top: 23.98%;
  right: 0;
  bottom: 59.98%;
  left: 0;
  font-size: var(--regular-12-size);
  color: var(--colour-main-grey-600);
}
.text-blocksectionlargetitle3,
.undraw-mention-6k5d-icon {
  position: absolute;
  height: 42.12%;
  width: 30.9%;
  top: 21.98%;
  right: 11.74%;
  bottom: 35.9%;
  left: 57.36%;
}
.undraw-mention-6k5d-icon {
  height: 57.14%;
  top: 21.6%;
  right: 54.58%;
  bottom: 21.26%;
  left: 14.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cta,
.rectangle-icon {
  position: absolute;
  height: 11.8%;
  width: 100%;
  top: 65.13%;
  right: 0;
  bottom: 23.08%;
  left: 0;
}
.rectangle-icon {
  height: 100%;
  top: 0;
  right: -24.35%;
  bottom: 0;
  left: 24.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
  mix-blend-mode: normal;
}
.bg2,
.button-label2 {
  position: absolute;
  width: 100%;
  left: 0;
}
.bg2 {
  height: calc(100% + 0.19px);
  top: 0;
  right: 0;
  bottom: -0.19px;
  border-radius: var(--br-11xs);
  background-color: var(--colour-main-blue-800);
}
.button-label2 {
  top: calc(50% - 11.91px);
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.elementbuttonmediumfilled {
  position: absolute;
  height: 3.39%;
  width: 7.42%;
  top: 64.02%;
  right: 43.69%;
  bottom: 32.59%;
  left: 48.89%;
}
.renata-sava-amelia {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.p {
  margin: 0;
}
.pricing,
.text-blocksectionlargetitle4 {
  position: absolute;
  height: 12.4%;
  width: 23.56%;
  top: 25.33%;
  right: 35.6%;
  bottom: 62.27%;
  left: 40.84%;
  font-size: var(--regular-16-size);
  color: var(--colour-main-blue-400);
}
.pricing {
  height: 20.27%;
  width: 176.87%;
  top: 77.95%;
  right: -33.79%;
  bottom: 1.78%;
  left: -43.08%;
  text-align: center;
  font-size: var(--regular-14-size);
  color: var(--colour-secondary-white-100-general);
}
.rectangle4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e7ecff;
}
.div,
.group1 {
  position: absolute;
  left: 11.46%;
}
.div {
  top: calc(50% - 40px);
  line-height: 24px;
  font-weight: 500;
}
.group1 {
  width: 17.01%;
  top: calc(50% + 52px);
  right: 71.53%;
  height: 24px;
  color: var(--colour-main-blue-300);
}
.iconsocialinstagram,
.iconsocialinstagram-copy,
.iconsocialinstagram-copy-2,
.iconsocialinstagram-copy-3,
.iconsocialinstagram-copy-4 {
  position: absolute;
  height: 7.41%;
  width: 1.11%;
  top: 75.93%;
  right: 11.46%;
  bottom: 16.67%;
  left: 87.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconsocialinstagram-copy,
.iconsocialinstagram-copy-2,
.iconsocialinstagram-copy-3,
.iconsocialinstagram-copy-4 {
  right: 14.65%;
  left: 84.24%;
}
.iconsocialinstagram-copy-2,
.iconsocialinstagram-copy-3,
.iconsocialinstagram-copy-4 {
  right: 17.85%;
  left: 81.04%;
}
.iconsocialinstagram-copy-3,
.iconsocialinstagram-copy-4 {
  right: 21.04%;
  left: 77.85%;
}
.iconsocialinstagram-copy-4 {
  right: 24.24%;
  left: 74.65%;
}
.rectangle5 {
  position: absolute;
  height: 0.46%;
  width: 77.08%;
  top: 64.35%;
  right: 11.46%;
  bottom: 35.19%;
  left: 11.46%;
  background-color: #cdd1d4;
}
.footer {
  position: absolute;
  height: 4.67%;
  width: 100%;
  top: 95.33%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--regular-14-size);
  color: var(--colour-main-grey-400);
}
.logolandie1 {
  position: absolute;
  top: 4473px;
  left: 680px;
  width: 79px;
  height: 38px;
  font-size: var(--bold-26-size);
  color: var(--colour-logo-primary);
}
.landing-page-2 {
  position: relative;
  background-color: var(--colour-secondary-white-100-general);
  width: 100%;
  height: 4628px;
  overflow: hidden;
  text-align: left;
  font-size: var(--regular-16-size);
  color: var(--colour-main-blue-400);
  font-family: var(--bold-26);
}
